*{
margin:0;
padding:0;
box-sizing:border-box;
}

#bg-video{
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
object-fit: cover;
}
body{
margin:0;
font-family:Arial;
background:#111;
}
